@font-face {
  font-family: "Persona5";
  src: url("/fonts/PersonifiedUXRegular.ttf") format("truetype");
}

header {
  background-color: rgb(233, 13, 13);
  display: flexbox;
}

.head {
  align-items: center;
  display: flex;
  justify-content: center;
}

header h1,
header p {
  display: block;
  transform: rotateZ(-5deg);
  width: fit-content;
  padding: 10px 20px;
  margin-bottom: 5px;
}

p {
  transform: rotateZ(-2.1deg);
}

.header {
  display: flex;
  align-items: center;
}

.profile-image {
  margin-right: 20px;
  width: 250px;
  height: auto;
}

h1 {
  font-family: "Persona5", sans-serif;
  color: aliceblue;
  background-color: black;
}

h2 {
  font-family: "Persona5", sans-serif;
}

p {
  font-family: "Persona5", sans-serif;
  color: rgb(41, 41, 41);
  background-color: rgb(238, 242, 245);
  outline-style: solid;
  outline-color: black;
  margin-bottom: 10px;
}

main {
  display: flex;
}

.container {
  max-width: 960px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.personal-info {
  flex: 1;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-size: larger;
  outline-style: solid;
  outline-color: black;
  transform: rotateZ(-2.1deg);
}

body {
  background-image: url("https://storage.googleapis.com/ikram-dicoding-project.appspot.com/images/box.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

footer {
  display: flex;
  flex-direction: column;
  color: black;
  padding: 2em;
  display: flex;
  align-items: left;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

.social-icons {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  transform: rotateZ(-2.1deg);
}

.social-icons img {
  width: 80px;
  height: 80px;
  margin-left: 40px;
  transform: rotateZ(7deg);
  background-color: white;
  outline-style: solid;
  outline-color: black;
}
